.carrousel-img {
    width: 100%;
}

.caret-icon {
    width: 40px;
    z-index: 10000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: fill .1s;
    fill: rgb(0, 0, 0);
}

.caret-icon:hover {
    fill: rgb(60, 60, 60);
}

.next-arrow {
    right: 3%;
}

.prev-arrow {
    left: 3%;
}

.slick-btn:hover {
    background-color: rgb(164, 163, 163) !important;
}

.slick-active div {
    background-color: rgb(116, 116, 116) !important;
}

@media screen and (max-width:650px) {

    .carrousel-img {
        object-fit: cover;
    }
    .caret-icon {
        width: 25px;
    }

}