.carrousel-img {
    width: 100%;
}

.caret-icon {
    width: 80px;
    height: 80px;
    z-index: 10000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: fill .1s;
    fill: rgb(0, 0, 0);
    box-sizing: border-box;
}

.caret-icon:hover {
    fill: rgb(60, 60, 60);
}

.next-arrow {
    right: 3%;
}

.prev-arrow {
    left: 3%;
}

.slick-btn {
    background-color: red !important;
}

.slick-btn:hover {
    background-color: rgb(164, 163, 163) !important;
}

.carrousel-ul {
    display: flex;
    width: fit-content;
    left: 50%;
    bottom: -10px;
    position: absolute;
    transform: translate(-50%, -50%);
    gap: 5px;
}

.carrousel-ul li {
    list-style: none;
}

.carrousel-btns {
    background-color: black ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px ;
    height: 20px ;
    border-radius: 100%;
    cursor: pointer;
}

.carrousel-btns:hover {
    background-color: #ccc ;
}

.slick-active .carrousel-btns{
    background-color: rgb(110, 110, 110);    
}

@media screen and (max-width:650px) {

    .carrousel-img {
        object-fit: cover;
    }
    .caret-icon {
        width: 25px;
    }

}