:root {
    --relative-container-height:300px;
    --cards-btns-transform:0px;
    --extra-info-height:0px;
}

.categoria {
    width: 90%;
    margin: 0px auto;
    box-shadow: none;
    padding: 10px 0px;
}

.categoria-titulos-container {
    display: flex;
    justify-content:flex-start ;
    align-items: flex-end;
}

.categoria-titulo {
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
}

.categoria-title-link {
    font-size:15px ;
    text-decoration: none;
    color: rgb(78, 130, 209);
}

.categoria-title-link:hover {
    color: rgb(46, 96, 170);
}

.relative-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--relative-container-height);
}

.cards-btns-container {
    overflow: hidden;
    height: 100%;
}

.card-group {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 20px 5px;
}

.card {
    border-radius: 10px;
    background-color: white;
    width: 20%;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
    transition: transform .2s ease-in;
    height: 100%;
    text-decoration: none;
    color: black;
}

.card-img {
    width: 100%;
    border-bottom: 1px solid rgb(152, 152, 152);
    z-index: 1000;
}

.card-img img {
    width: 100%;
}

.card-info {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 3px;
}

.card-info h4 {
    font-size: 18px;
}

.card:hover .extra-info {
    height: var(--extra-info-height);
}

.extra-info {
    overflow: hidden;
    transition: all .2s ease-in;
    height: 0px;
}


.card-description {
    font-size: 16px;
}

.btn-container-cards {
    position: absolute;
    top: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity .2s ease-in;
    
}

.cards-btn {
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: absolute;
    z-index: 100000;
    transition: opacity .2s ease-in;
    top: 50%;
    transform: var(--cards-btns-transform);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color: transparent;
    transition: opacity .2s ease-in;
    opacity: 0;
    color: white;
    border-radius: 100%;
    padding: 18px;
    border: none;
    background-color: rgb(179, 179, 179);
}

.cards-btns-container:hover .cards-btn {
    opacity: 1;
}

.cards-btn:hover .caret-icon {
    fill: #909090;
}

#atras-btn {
    left: -30px;
}

#adelante-btn {
    right: -30px;
}


@media screen and (max-width:875px) {
    .categoria {
        width: 95%;
    }

    .cards-btn {
        width: 40px;
        height:40px;
        padding: 10px;
    }

    
    #atras-btn {
        left: -15px;
    }

    #adelante-btn {
        right: -15px;
    }

    .card-info {
    }

    .card-info h4 {
        font-size: 15px;
    }

    .card-description{
        font-size: 14px; 
    }

    
}

@media screen and (max-width:650px) {
    .cards-btn {
        display: none;
    }

    .relative-container {
        height: 100%;
    }

    .cards-btns-container {
        height: 100%;
    }

    .card-group {
        flex-direction: column;
    }

    .card {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
    }

    .card-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 5px;
    }

    .card-img {
        border-bottom: none;
        width: 30%;
        border-right: 1px solid black;
    } 

    .card-img img {
        object-fit: contain;
        height: 100%;
    }

    .card:hover .extra-info {
        height: 100%;
    }

    .extra-info {
        height: 100%;
    }

    .extra-info p {
        height: 100%;
        transition: none;
    }
}